<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/login.css">
  </head>
  <body>
    <div id="app">
      <div class="signincontainer">
        <h3>
          <span>請</span>
          <span>先</span>
          <span>登</span>
          <span>入</span>
          <span>!</span>
        </h3>
        <label for="accsignin">帳號</label>
        <input
          type="email"
          id="accsignin"
          class="signinaccount"
          placeholder="請輸入mail"
          v-model="user.username"
        />
        <label for="passsignin">密碼</label>
        <input
          type="password"
          id="passsignin"
          class="signinpassword"
          placeholder="請輸入密碼"
          v-model="user.password"
        />
        <button type="button" value="登入" class="signin" @click="signIn">
          登入
        </button>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js"></script>
    <script src="./js/login.js" type="module"></script>
    </body>
</html>
